public/index.html
<!DOCTYPE html>
<head lang="ru">
  <meta charset="UTF-8">
  <meta name="author" content="Asight.ru">
  <meta name="viewport" content="width=device-width, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Main page</title>
  <link rel="icon" type="image/png" href="assets/images/ico/favicon.png"> 
  <!--[if lte IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <link rel="stylesheet" href="assets/css/responsive.min.css">
</head>
<body>
  <div class="wrapper">
    <!--Header-->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-2"><a href="index.html" class="header__logo"><img src="assets/images/logo.png" alt="Logo"></a></div>
          <div class="col-md-6">
            <nav class="header__menu">
              <ul>
                <li class="active"><a href="">О компании</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Сервисное обслуживание</a></li>
                <li><a href="">Медиа центр</a></li>
                <li><a href="">Контакты</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3">
            <div class="header__phones">
              <ul>
                <li>
                  <div class="city">Киев</div><a href="tel:+38(044)467-26-04" class="number">+38 (044) 467-26-04</a>
                </li>
                <li>
                  <div class="city">Одесса</div><a href="tel:0(482)364-718(19)" class="number">0 (482) 364-718 (19)</a>
                </li>
                <li>
                  <div class="city">Днепр</div><a href="tel:+38(056)790-01-73" class="number">+38 (056) 790-01-73</a>
                </li>
                <li>
                  <div class="city">Харьков</div><a href="tel:0(482)364-718(19)" class="number">0 (482) 364-718 (19</a>
                </li>
                <li>
                  <div class="city">Львов</div><a href="tel:+38(056)790-01-73" class="number">+38 (056) 790-01-73</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-1">
            <div class="header__languages">
              <ul>
                <li>
                  <div class="lang lang--ua"></div>
                </li>
                <li><a href="" class="lang lang--ru"></a></li>
                <li><a href="" class="lang lang--en"></a></li>
              </ul>
            </div><a href="http://youtube.com" target="_blank" class="header__youtube"><img src="assets/images/youtube.png" alt="img"></a>
          </div>
        </div>
      </div>
    </header>
    <!-- /Header-->
    <main class="home">
      <!-- Slider section-->
      <section class="home__slider slider">
        <div id="owl-carousel-1" class="owl-carousel owl-theme">
          <div class="item item-1">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-offset-1">
                  <div class="slider__title">НОВАЯ ЛИНЕЙКА<br>ПОГРУЗЧИКОВ KALMAR</div>
                  <div class="slider__descr">Компания Kalmar, представила новую линейку погрузчиков для обработки <br>порожних контейнеров на территории контейнерной базы Мюнхена.</div><a href="#" class="slider__btn">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-2">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-offset-1">
                  <div class="slider__title">НОВАЯ ЛИНЕЙКА<br>ПОГРУЗЧИКОВ KALMAR</div>
                  <div class="slider__descr">Компания Kalmar, представила новую линейку погрузчиков для обработки <br>порожних контейнеров на территории контейнерной базы Мюнхена.</div><a href="#" class="slider__btn">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-3">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-offset-1">
                  <div class="slider__title">НОВАЯ ЛИНЕЙКА<br>ПОГРУЗЧИКОВ KALMAR</div>
                  <div class="slider__descr">Компания Kalmar, представила новую линейку погрузчиков для обработки <br>порожних контейнеров на территории контейнерной базы Мюнхена.</div><a href="#" class="slider__btn">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-4">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-offset-1">
                  <div class="slider__title">НОВАЯ ЛИНЕЙКА<br>ПОГРУЗЧИКОВ KALMAR</div>
                  <div class="slider__descr">Компания Kalmar, представила новую линейку погрузчиков для обработки <br>порожних контейнеров на территории контейнерной базы Мюнхена.</div><a href="#" class="slider__btn">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
              </div>
            </div>
          </div>
        </div><a href="#categories" class="slider__down"><span></span></a>
      </section>
      <!-- /Slider section-->
      <!-- Categories section-->
      <section id="categories" class="home__categories categories">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="categories__title">категории</h2>
            </div>
            <!-- Category item-->
            <div class="col-md-4 categories__item item col-sm-12"><img src="assets/images/content/category-1.jpg" alt="img" class="item__img">
              <div class="item__title">Применение в промышленности</div>
              <div class="item__content"><a href="" class="content-link"><img src="assets/images/brands/brand-1.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-2.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-3.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-4.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-5.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-6.png" alt="img"></a></div>
            </div>
            <!-- /Category item-->
            <!-- Category item-->
            <div class="col-md-4 categories__item item col-sm-12"><img src="assets/images/content/category-2.jpg" alt="img" class="item__img">
              <div class="item__title">Применение в ТЕРМИНАЛАХ</div>
              <div class="item__content"><a href="" class="content-link"><img src="assets/images/brands/brand-1.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-2.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-3.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-4.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-5.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-6.png" alt="img"></a></div>
            </div>
            <!-- /Category item-->
            <!-- Category item-->
            <div class="col-md-4 categories__item item col-sm-12"><img src="assets/images/content/category-3.jpg" alt="img" class="item__img">
              <div class="item__title">ДОПОЛНИТЕЛЬНАЯ КОМПЛЕКТАЦИЯ И ШИНЫ</div>
              <div class="item__content"><a href="" class="content-link"><img src="assets/images/brands/brand-1.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-2.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-3.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-4.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-5.png" alt="img"></a><a href="" class="content-link"><img src="assets/images/brands/brand-6.png" alt="img"></a></div>
            </div>
            <!-- /Category item-->
          </div>
        </div>
      </section>
      <!-- /Categories section-->
      <!-- Catalog section-->
      <section class="home__catalog catalog">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="catalog__title">скачать каталог техники</div>
            </div>
            <div class="col-md-6"><img src="assets/images/newspaper.png" alt="img" class="catalog__newspaper wow fadeInLeft"></div>
            <div class="col-md-6">
              <div class="catalog__descr wow fadeInRight">Мы предлагаем лучшее оборудование для обработки грузов на открытых площадках, в складских комплексах и распределительных центрах. <br><br>Наше предложение представлено широким модельным рядом техники KALMAR и JCB: вилочные автопогрузчики, электропогрузчики, универсальные погрузчики и штабелеры, ричстакеры, погрузчики для обработки контейнеров, терминальные тягачи и тяжеловозы, козловые и портальные крановые установки.</div>
            </div>
            <div class="col-md-12"><a href="assets/download/price.pdf" target="_blank" class="catalog__btn wow bounceIn">СКАЧАТЬ в pdf</a></div>
          </div>
        </div>
      </section>
      <!-- /Catalog section-->
      <!-- Video section-->
      <section class="home__video video">
        <div class="container">
          <div class="row">
            <div class="col-md-12"><img src="assets/images/bg-video-min.jpg" alt="img" class="video__bg">
              <iframe width="826" height="410" src="https://www.youtube.com/embed/jmcGOL1KdLM?cc_load_policy=1&amp;showinfo=0" allowfullscreen class="video__yt"></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- /Video section-->
      <!-- News section-->
      <section class="home__news news">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
              <h2 class="news__title">НОВОСТИ</h2>
              <div id="owl-carousel-2" class="owl-carousel owl-theme">
                <!--News item-->
                <div class="item"><img src="assets/images/content/news-1.jpg" alt="img" class="item__img">
                  <div class="item__title">КОМПАНИЯ ФОРКС ПРИГЛАШАЕТ ПОСЕТИТЬ СОБЫТИЕ ТОС ЕВРОПА</div>
                  <div class="item__descr">Уважаемые Клиенты, в  Амстердаме состоится одно из основных событий портовой отрасли – ТОС Европа.</div><a href="#" class="item__link">УЗНАТЬ БОЛЬШЕ</a>
                  <div class="item__date">26 апреля, 2017</div>
                </div>
                <!-- /News item-->
                <!--News item-->
                <div class="item"><img src="assets/images/content/news-2.jpg" alt="img" class="item__img">
                  <div class="item__title">KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН</div>
                  <div class="item__descr">Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов RTG  </div><a href="#" class="item__link">УЗНАТЬ БОЛЬШЕ</a>
                  <div class="item__date">26 апреля, 2017</div>
                </div>
                <!-- /News item-->
                <!--News item-->
                <div class="item"><img src="assets/images/content/news-1.jpg" alt="img" class="item__img">
                  <div class="item__title">КОМПАНИЯ ФОРКС ПРИГЛАШАЕТ ПОСЕТИТЬ СОБЫТИЕ ТОС ЕВРОПА</div>
                  <div class="item__descr">Уважаемые Клиенты, в  Амстердаме состоится одно из основных событий портовой отрасли – ТОС Европа.</div><a href="#" class="item__link">УЗНАТЬ БОЛЬШЕ</a>
                  <div class="item__date">26 апреля, 2017</div>
                </div>
                <!-- /News item-->
                <!--News item-->
                <div class="item"><img src="assets/images/content/news-2.jpg" alt="img" class="item__img">
                  <div class="item__title">KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН</div>
                  <div class="item__descr">Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов RTG  </div><a href="#" class="item__link">УЗНАТЬ БОЛЬШЕ</a>
                  <div class="item__date">26 апреля, 2017</div>
                </div>
                <!-- /News item-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /News section-->
    </main>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4"><a href="index.html" class="footer__logo"><img src="assets/images/logo-footer.png" alt=""></a></div>
        <div class="col-md-8">
          <nav class="footer__menu">
            <ul>
              <li><a href="">Киев</a></li>
              <li><a href="">Одесса</a></li>
              <li><a href="">Днепропетровск</a></li>
              <li><a href="">Харьков</a></li>
              <li><a href="">Львов</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span class="footer__partners">АФФИЛИРОВАННЫЕ партнеры:</span></div>
        <div class="col-md-8">
          <div class="footer__partners-list"><a href="#"><img src="assets/images/footer/1.png" alt=""></a><a href="#"><img src="assets/images/footer/2.png" alt=""></a><a href="#"><img src="assets/images/footer/3.png" alt=""></a><a href="#"><img src="assets/images/footer/4.png" alt=""></a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 footer__copyright"> <span>Сайт разработан в студии Abweb <a href="http://abweb.com.ua" target="_blank">abweb.com.ua</a></span></div>
      </div>
    </div>
  </footer>
  <script src="assets/js/jquery-2.2.4.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/main.min.js"></script>
</body>

source/templates/index.jade
doctype html
- var title = "Main page";
include base/head.jade

body
	.wrapper
		//Header
		header.header
			.container
				.row
					.col-md-2
						a.header__logo(href="index.html")
							img(src="assets/images/logo.png", alt="Logo")
					.col-md-6
						nav.header__menu
							ul
								li.active
									a(href="") О компании
								li
									a(href="") Каталог
								li
									a(href="") Сервисное обслуживание
								li
									a(href="") Медиа центр
								li
									a(href="") Контакты
					.col-md-3
						.header__phones
							ul
								li
									.city Киев
									a.number(href="tel:+38(044)467-26-04") +38 (044) 467-26-04
								li
									.city Одесса
									a.number(href="tel:0(482)364-718(19)") 0 (482) 364-718 (19)
								li
									.city Днепр
									a.number(href="tel:+38(056)790-01-73") +38 (056) 790-01-73
								li
									.city Харьков
									a.number(href="tel:0(482)364-718(19)") 0 (482) 364-718 (19
								li
									.city Львов
									a.number(href="tel:+38(056)790-01-73") +38 (056) 790-01-73
					.col-md-1
						.header__languages
							ul
								li
									div.lang.lang--ua
								li
									a.lang.lang--ru(href="")
								li
									a.lang.lang--en(href="")
						a.header__youtube(href="http://youtube.com", target="_blank")
							img(src="assets/images/youtube.png", alt="img")
		// /Header
		main.home
			// Slider section
			section.home__slider.slider
				.owl-carousel.owl-theme#owl-carousel-1
					.item.item-1
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
					.item.item-2
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
					.item.item-3
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
					.item.item-4
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
				a.slider__down(href="#categories")
					span
			// /Slider section
			// Categories section
			section.home__categories.categories#categories
				.container
					.row
						.col-md-12
							h2.categories__title категории

						// Category item
						.col-md-4.categories__item.item.col-sm-12
							img.item__img(src="assets/images/content/category-1.jpg", alt="img")
							.item__title Применение в промышленности
							.item__content
								a.content-link(href="")
									img(src="assets/images/brands/brand-1.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-2.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-3.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-4.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-5.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-6.png", alt="img")
						// /Category item

						// Category item
						.col-md-4.categories__item.item.col-sm-12
							img.item__img(src="assets/images/content/category-2.jpg", alt="img")
							.item__title Применение в ТЕРМИНАЛАХ
							.item__content
								a.content-link(href="")
									img(src="assets/images/brands/brand-1.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-2.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-3.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-4.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-5.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-6.png", alt="img")
						// /Category item

						// Category item
						.col-md-4.categories__item.item.col-sm-12
							img.item__img(src="assets/images/content/category-3.jpg", alt="img")
							.item__title ДОПОЛНИТЕЛЬНАЯ КОМПЛЕКТАЦИЯ И ШИНЫ
							.item__content
								a.content-link(href="")
									img(src="assets/images/brands/brand-1.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-2.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-3.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-4.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-5.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-6.png", alt="img")
						// /Category item
			// /Categories section
			// Catalog section
			section.home__catalog.catalog
				.container
					.row
						.col-md-12
							.catalog__title скачать каталог техники
						.col-md-6
							img.catalog__newspaper.wow.fadeInLeft(src="assets/images/newspaper.png", alt="img")
						.col-md-6
							.catalog__descr.wow.fadeInRight
								| Мы предлагаем лучшее оборудование для обработки грузов на открытых площадках, в складских комплексах и распределительных центрах. 
								br
								br
								| Наше предложение представлено широким модельным рядом техники KALMAR и JCB: вилочные автопогрузчики, электропогрузчики, универсальные погрузчики и штабелеры, ричстакеры, погрузчики для обработки контейнеров, терминальные тягачи и тяжеловозы, козловые и портальные крановые установки.
						.col-md-12
							a.catalog__btn.wow.bounceIn(href="assets/download/price.pdf", target="_blank") СКАЧАТЬ в pdf
			// /Catalog section
			// Video section
			section.home__video.video
				.container
					.row
						.col-md-12
							img.video__bg(src="assets/images/bg-video-min.jpg", alt="img")
							iframe.video__yt(width="826", height="410", src="https://www.youtube.com/embed/jmcGOL1KdLM?cc_load_policy=1&showinfo=0", allowfullscreen)
							//- button.video__btn#video-btn СМОТРЕТЬ ВИДЕО
			// /Video section
			// News section
			section.home__news.news
				.container
					.row
						.col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
							h2.news__title НОВОСТИ
							.owl-carousel.owl-theme#owl-carousel-2
								//News item
								.item
									img(src="assets/images/content/news-1.jpg", alt="img").item__img
									.item__title КОМПАНИЯ ФОРКС ПРИГЛАШАЕТ ПОСЕТИТЬ СОБЫТИЕ ТОС ЕВРОПА
									.item__descr Уважаемые Клиенты, в  Амстердаме состоится одно из основных событий портовой отрасли – ТОС Европа.
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item
								//News item
								.item
									img(src="assets/images/content/news-2.jpg", alt="img").item__img
									.item__title KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН
									.item__descr Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов RTG  
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item
								//News item
								.item
									img(src="assets/images/content/news-1.jpg", alt="img").item__img
									.item__title КОМПАНИЯ ФОРКС ПРИГЛАШАЕТ ПОСЕТИТЬ СОБЫТИЕ ТОС ЕВРОПА
									.item__descr Уважаемые Клиенты, в  Амстердаме состоится одно из основных событий портовой отрасли – ТОС Европа.
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item
								//News item
								.item
									img(src="assets/images/content/news-2.jpg", alt="img").item__img
									.item__title KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН
									.item__descr Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов RTG  
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item

			// /News section
	include base/footer.jade
